# Docs are always built on a specific Python version; see RTD and tox config files.
furo == 2025.7.19
pyenchant == 3.2.2
sphinx == 8.2.3
sphinx_design == 0.6.1
sphinx_tabs == 3.4.7
sphinx-autobuild == 2024.10.3
sphinx-copybutton == 0.5.2
sphinx-intl == 2.3.2
sphinxcontrib-spelling == 8.0.1
