# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
copyright: © Russell Keith-Magee

not_in_nav: |
  /index.md

validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  anchors: warn
  unrecognized_links: warn

extra:
  project_name: beeware-tutorial
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: Deutsch
      link: /de/
      lang: de
    - name: Español
      link: /es/
      lang: es
    - name: Français
      link: /fr/
      lang: fr
    - name: Italiano
      link: /it/
      lang: it
    - name: Português
      link: /pt/
      lang: pt
    - name: 中文(简体)
      link: /zh-cn/
      lang: zh-Hant
    - name: 中文(繁體)
      link: /zh-tw/
      lang: zh-TW
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/beeware
      name: BeeWare on GitHub
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@beeware
      name: BeeWare on Mastodon
    - icon: fontawesome/brands/discord
      link: https://beeware.org/bee/chat/
      name: BeeWare on Discord
  generator: false

theme:
  name: material
  language: en
  logo: assets/images/brutus-256.png
  favicon: assets/images/brutus-256.png
  features:
    - content.tabs.link
    - toc.follow
    - navigation.indexes
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - search.suggest
    - search.highlight
    - search.share
  custom_dir: overrides
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  # PyMdown Extensions
  pymdownx.highlight: {}
  pymdownx.superfences: {}
  pymdownx.blocks.caption: {}
  pymdownx.blocks.admonition:  # Enables admonitions.
    types:
      - note
      - abstract
      - info
      - tip
      - success
      - question
      - warning
      - failure
      - danger
      - bug
      - example
      - quote
  pymdownx.blocks.details:  # Enables collapsible content.
    types:
      - {name: details-note, class: note}
      - {name: details-abstract, class: abstract}
      - {name: details-info, class: info}
      - {name: details-tip, class: tip}
      - {name: details-success, class: success}
      - {name: details-question, class: question}
      - {name: details-warning, class: warning}
      - {name: details-failure, class: failure}
      - {name: details-danger, class: danger}
      - {name: details-bug, class: bug}
      - {name: details-example, class: example}
      - {name: details-quote, class: quote}
  pymdownx.blocks.tab:
    alternate_style: true
  pymdownx.magiclink:  # Among other things, enables GitHub shorthand references.
    provider: "github"
    user: "beeware"
    repo: "toga"
    repo_url_shortener: true
    repo_url_shorthand: true
    normalize_issue_symbols: true
  pymdownx.snippets:
    base_path: ["docs"]
    url_download: true
    check_paths: true
  # Python Markdown Extensions
  attr_list: {}
  smarty:  # Enables easy em and en dashes.
    smart_quotes: false
  toc:
    permalink: true
    title: On this page

plugins:
  search: {}
  autorefs: {}
  literate-nav:
    nav_file: SUMMARY.md
  macros: {}
